// Configuration file with all existing information: environments,users,web pages
credentials {
    admin {
        username = 'sgeorgievtest'
        password = '11aa11AA'
    }
    user {
        username = 'USER@test.com'
        password = '11aa11AA'
    }
}

pages {
    timeout = 40    // always in seconds
    abv {
        abvBase = 'http://abv.bg'
        urls {
            abvMainPage = "https://nm80.abv.bg/Mail.html"
            abvSuccessMsgPage = "https://nm80.abv.bg/Mail.html#msgsent:"
        }
    }
}